.video-card {
  width: 260px;
  margin: var(--u-8);
  background-color: var(--body);
  transition: var(--normal-transition);
  cursor: pointer;
  position: relative;
}

.duration-card {
  position: absolute;
  background-color: var(--dark-bg-primary);
  color: var(--color-light);
  left: 225px;
  top: 120px;
  font-size: var(--text-xs);
  padding: var(--u-2) var(--u-4);
  border-radius: var(--rounded-sm);
}

.video-card:hover {
  transform: scale(1.16);
  box-shadow: var(--normal-shadow);
  .title {
    white-space: normal;
    overflow: auto;
  }
}

.video-action{
  font-size: var(--text-sm);
}

.dark-video-action{
  @extend .video-action;
  color: var(--color-light);
}

.thumbnail {
  width: 100%;
}

.channelLogo {
  width: 30px;
  height: 30px;
  border-radius: var(--rounded-full);
  border: var(--u-1) solid var(--color-light);
}

.title {
  font-size: var(--text-sm);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 175px;
}

.dark-video-card {
  @extend .video-card;
  background-color: var(--dark-bg-primary);
}

// Options style
.options {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  // display: none;
}

.options:active {
  border: 1px solid var(--color-secondary);
}

.dark-options {
  @extend .options;
  color: var(--color-light);
}

.dark-options:active {
  border: 1px solid var(--color-light);
}

// Video cord modal
.video-card-modal {
  flex-direction: column;
  position: absolute;
  display: flex;
  background-color: var(--color-light);
  margin-top: 200px;
  margin-left: 120px;
  z-index: 9;
  box-shadow: var(--material-shadow);
}

.dark-video-card-modal {
  @extend .video-card-modal;
  background-color: var(--dark-bg-secondary);
  color: var(--color-light);
}

.actionBtn {
  background-color: transparent;
}

.modal-actions {
  padding: var(--u-8) var(--u-10);
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.modal-actions:active {
  transform: scale(0.98);
}

.modal-actions:hover {
  background-color: var(--color-secondary);
}

.dark-modal-actions {
  @extend .modal-actions;
  color: var(--color-light);
}

.dark-modal-actions:active {
  transform: scale(0.98);
}

.dark-modal-actions:hover {
  background-color: var(--dark-bg-tertiary);
}

// Expanded video card styles
.video-card-expanded {
  @extend .video-card;
}

.dark-video-card-expanded {
  @extend .video-card;
}

.history-title {
  font-size: var(--text-sm);
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // width: 400px;
}

// Video cord modal expanded
.video-card-modal-expanded {
  flex-direction: column;
  position: absolute;
  display: flex;
  background-color: var(--color-light);
  margin-top: 45px;
  margin-left: 720px;
  z-index: 9;
  box-shadow: var(--material-shadow);
}

.dark-video-card-modal-expanded {
  @extend .video-card-modal-expanded;
  background-color: var(--dark-bg-secondary);
  color: var(--color-light);
}

.history-options {
  margin-left: auto;
}

.clear-all-btn {
  background-color: transparent;
  border: none;
  font-size: var(--text-base);
  margin-right: var(--u-10);
  cursor: pointer;
}

.dark-clear-all-btn {
  @extend .clear-all-btn;
  color: var(--color-light);
}
