html,
body {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --dark-bg-primary: #1d2125;
  --dark-bg-secondary: #3a424b;
  --dark-bg-tertiary: #5c6166;
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
    padding-top: var(--u-80);
    padding-bottom: var(--u-55);
    height: max-content;
  }

  .duration-card,
  .toggle-btn,
  .dark-toggle-btn {
    display: none;
  }
  .video-card-container {
    width: 100%;
  }
  .thumbnail {
    width: 90vw !important;
  }
}
